/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px rgb(5, 10, 79);
  position: center;
}

h1 {
  text-align: center;
  color: rgb(44, 18, 218);
}
body {
  background-color: rgba(212, 224, 243, 0.792);
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.piece.p1 {
  background-color: black;
}

.piece.p2 {
  background-color: yellow;
}
/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px rgb(109, 106, 106);
}

#column-top td:hover {
  background-color: rgb(156, 231, 242);
}
